extends ../layout

append head
  link(rel="stylesheet", href="/stylesheets/session.css")
  script(src="/javascripts/session.js")
  script
    var session = new RemoteDecks.Session(!{JSON.stringify(session)});
    session.speakers = new RemoteDecks.Speakers(!{JSON.stringify(session.speakers.getConnected())});
    session.spectators = new RemoteDecks.Spectators(!{JSON.stringify(session.spectators.getConnected())});

block content
  body.session
    div.notifications.bottom-right
    div.btn-group.action-bar
      a.btn.btn-small.btn-success.dropdown-toggle(href="javascript:;")
        i.connected-icon.icon-ok.icon-white
        i.disconnected-icon.icon-remove.icon-white
        i.pending-icon.icon-refresh.icon-white
      ul.dropdown-menu
        li
          a.info.spectators(href="javascript:;")
            i.icon-user 
            |  Spectators: 
            span#spectator-count 0
        li
          a.info.speakers
            i.icon-user
            |  Speakers: 
            span#speaker-count 0
        li.divider
        li.only-spectator
          a(href="/sessions/#{session.get('id')}/speakers/new") Join as speaker
        li.only-speaker
          a(href="/sessions/#{session.get('id')}/spectators/new") Join as spectator
        
    div.slides
      include _slides
